/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/(pages)/(auth)/login/login.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.login_container__bvah3{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

.login_wrapper__WK2Fg{
  width: 500px;
  background-color: var(--bgSoft);
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  border-radius: 2rem;
  box-shadow: var(--shadow);
}


/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/loginForm/loginForm.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.loginForm_form__gv3hk{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.loginForm_form__gv3hk input{
  padding: 20px;
  background-color: #fff;
  color: var(--textColor);
  border: none;
  border-radius: 2rem;
  box-shadow: var(--shadow);
}

.loginForm_btn__1F4Pg{
  padding: 20px;
  cursor: pointer;
  background-color: var(--btn);
  color: var(--bg);
  font-weight: bold;
  border: none;
  border-radius: 2rem;
  box-shadow: var(--shadow);
}

.loginForm_github__Fz8eS{
  width: 100%;
  padding: .9rem;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
