.container {
  padding: 1rem;
   

}

.card{
  padding: 1rem;
  background: var(--bgwhite);
  border-radius: 2rem 2rem 0 0;
  box-shadow: var(--shadow);

}

.content {
  padding: 1rem;
}

.layer {
  padding: 2rem;
  background: var(--btn);
  display: flex;
  justify-content: space-between;
  border-radius: 0  0 2rem 2rem;
  color: var(--bgwhite);
  font-weight: 500;


}

.date {
  padding: 1rem;
  margin-top: .1rem;
}
