.top {
  display: flex;  
  background: #fff;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  box-shadow: var(--shadow);

}
.container {
  padding: 1rem;
  border-radius: 2rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  width: 80%; 
}

.title {
  color: var(--bg-secondary);
  font-weight: 700;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;

}

.menu {
  display: flex; 
  gap: 3rem;
  cursor: pointer;
  position: absolute;
  padding: .5rem;
  font-weight: 600;
}

.menu :hover {
  color: var(--btn-secondary);
}

.menubtn {
  margin-right: -8rem;
}

.menu h3 {
  display: flex;
}

.menu svg {
  color: var(--bg-secondary);
}

.menu svg :hover {
  color: var(--btn-secondary);
}

.plus {
  margin-right: 2rem;
  margin-left: 5rem;
  color: var(--bg-secondary);
  cursor: pointer;
}

.plus :hover {
  color: var(--btn-secondary);
}
 



