.container {
  width: 90vh;
}

.formContainer {
  flex: 1;
  height: 80vh;
  background: #fff;
  padding: 2rem;
  border-radius: 2rem;
  margin: 5rem 1rem 5rem 1rem;
}

.container p {
  padding: 0 0 1rem 1rem;
  font-size: bold;
  text-align: center;
  
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form input {
  padding: 20px;
  border-radius: 1.5rem;
  border: none;
  outline: none;
  background-color: var(--card-color);
  color: rgb(46, 39, 39);
  box-shadow: var(--shadow);
}
.form button {
  padding: 20px;
  background-color: var(--btn-primary);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 1.5rem;
  margin-top: 40px;
}

.form button:hover {
  background-color: var(--btn-secondary);
}
.form label {
  font-size: bold;
}
