.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: -6rem; 
}


.links > :last-child {
  color: var(--bgwhite);
}

 

.logout {
  padding: 2em; 
  cursor: pointer;
  font-weight: bold;
  border-radius: 0 2rem 2rem 0; 
  border: none;
  background-color: transparent;
  color: var(--bgSoft);
}

.menuButton,
.mobileLinks {
  display: none;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .menuButton {
    display: block;
    cursor: pointer;
  }

  .mobileLinks {
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: var(--nav);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    color: aliceblue;
    font-size: larger;
  }
}
