.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.row {
  display: flex;
  gap: 2rem;
}

.col {
  flex: 1;
}

.col  img {
  object-fit: cover; 
  border-radius: 1rem 1rem 0 0; 
  
}

.line{
  margin: 100px;
  color: var(--bgSoft)
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}