.container {
  display: flex;
  margin-top: 5rem; 
  justify-content: center;
  align-items: center;

}

.formContainer { 
  background: #fff;
  padding: 2rem;
  border-radius: 2rem; 
}

.container p {
  padding: 0 0 1rem 1rem;
  font-size: bold;
  text-align: center;
  
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form input {
  padding: 1rem;
  border-radius: 1.5rem;
  border: none;
  outline: none;
  background-color: var(--card-color);
  color: var(--text-light);
  box-shadow: var(--shadow);
}
.form button {
  padding: 1rem;
  background-color: var(--btn-primary);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 1.5rem;
  margin-top: 2rem;
}

.form button:hover {
  background-color: var(--btn-secondary);
}
.form label {
  font-size: bold;
}
