.top {
  display: flex;  
  background: #fff;
  padding: 1rem;
  margin: -2rem;
  align-items: center;
  justify-content: space-between;

}
.container {
  padding: 2rem 0;
  border-radius: 2rem;
  background-color: #fff;
  display: flex;
  align-items: center; 
  justify-content: flex-end;
  box-shadow: var(--shadowlg);
  width: 70%;
  border-right: solid 12rem;
  border-color: var(--bg-secondary);

}

.title {
  color: var(--bg-secondary);
  font-weight: bold;
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  justify-content: space-around;
  position: absolute;
  padding: .5rem;
  font-weight: 600;
  
}

.menu :hover {
  color: var(--btn-secondary);
}


.menubtn {
  margin-right: -10rem;
  margin-left: 6rem;
  color: #fff;
}

.menu h3 {
  display: flex;
}

.menu svg {
  color: var(--bg-secondary);
  margin-right: .2rem; 
}

.menu svg :hover {
  color: var(--btn-secondary);
}

.menubtn svg {
  color: #fff;
}
.search {
  display: flex;
  align-items: center; 
  background-color: #fff;
  padding: .5rem 2rem;
  border-radius: 2rem; 
  box-shadow: var(--shadowlg);
  margin-top: 3rem; 
  justify-content: space-between;
  border-right: solid 11rem;
  border-color: var(--bg-secondary);
}

.search svg {
  margin-right: -8rem;
  color: #fff;
}


.input {
  background-color: transparent;
  border: none;
  color: var(--text);
  outline: none;
}

.icons {
  display: flex;
  gap: 1rem;
}

.icon span {
  font-size: .5rem; 
}
 
 



