.container {
  margin-top:5rem ;
  display: flex;
  align-items: center;
  gap: 100px;
  max-height: 70vh;
}

.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
}
.img {
  object-fit: contain;
}

.formContainer {
  flex: 1;
  background: #fff;
  padding: 2rem; 
  border-radius: 2rem;
  margin: 5rem 1rem 5rem 1rem;
}

.formContainer p {
  padding: 0 0 1rem 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form input,
.form textarea {
  padding: 20px;
  border-radius: 2rem;
  border: none;
  outline: none;
  background-color: var(--card-color);
  color: white;
  box-shadow: var(--shadow);

}
.form button {
  padding: 20px;
  background-color: var(--btn-primary);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 2rem;
}

.form button:hover {
  background-color: var(--btn-secondary);
}
