.container {
  display: flex;
  margin-top: 8rem;
  gap: 100px;
}
.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column; 
  gap: 20px;
}

.subtitle{
  color:var(--btn);
  text-align: center;
  margin-bottom: 2rem;
  
}

.title{
  font-size: 30px;
}

.desc{
  font-size: 20px;
  font-weight: 300; 
}

.descdown {
  margin-top: 1rem;
}

.boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.box{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box h1{
  color: var(--btn);
}

.imgContainer {
  flex: 1;
  position: relative; 
}

.img{
  object-fit: contain; 
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .boxes{ 
    gap: .5rem;
  }
}